html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div.contenedor{
	margin-left: auto;
    margin-right: auto;
    width: 85%;
}

header, nav, section, article, footer{
	border-radius: 10px;
    padding: 15px;
    border: solid 2px black;
    margin-top: 10px;
}

header{
	height: 60px;
    width: 100%;
    float: center;
    background-color: #ffaaaa;
    overflow: hidden;
}

nav{
	width: 30%;
    float: left;
    background-color: #fff0aa;
    margin-left: 10px;
}

section{
	width: 62%;
    float: right;
    background-color: #d8b0ff;
    overflow: hidden;
}

footer{
	height: 40px;
    width: 100%;
    float: left;
    background-color: #b0e8ac;
}

header, footer, article{
	margin-bottom: 10px;
}

article{
	width: 90%;
    float: center;
    background-color: #aaf0ff;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

header:hover .icon {
    transform: translateX(5px); /* Movimiento del ícono al pasar el cursor */
}

.icon {
    width: 30px; /* Ajusta el tamaño del ícono*/
    height: 30px; /* Ajusta el tamaño del ícono*/
    margin-right: 10px; /* Espacio entre el ícono y el texto - falta configurar flexbox para acomodar en horizontal */
    transition: transform 0.3s;
}